<div class="row">
    <ul class="list-group books">
        <li class="list-group-item">
          {{input type="text" class="new-author" placeholder="Новая книга"
          value=title}}
            <button class="btn btn-primary btn-sm new-book-button"
                    disabled={{isAddButtonDisabled}}
              {{action "createBook"}}>Добавить</button>
        </li>
      {{#each model.books as |book|}}
          <li class="list-group-item book">
            {{book.title}}
              <span class="rating pull-right">{{book.rating}}</span>
          </li>
      {{/each}}
    </ul>
  {{#if noBooks}}
      <div class="list-group-item empty-list">
          <div class="empty-message">
              Книг не добавлено. Хотите добавить <a href="#" {{action
          "enableBookCreation"}}>одну?</a>
          </div>
      </div>
  {{/if}}
</div>